
.bout_bracket
{
  border-color: #CCCCCC;
  border-style: solid;
  border-left-style: none;
  border-width: 2px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  white-space: nowrap;
}

.bout_text_top
{
  padding-left: 0.5em;
}

.bout_text_bottom
{
  padding-left: 0.5em;
}
