
.line
{
  border-color: #CCCCCC;
  border-style: solid;
  border-left-style: none;
  border-width: 1px;
  background-color: transparent;
  white-space: nowrap;
  height: 0px;
}

.line_text
{
  padding-left: 1em;
}
